@import "./src/scss/constants";

#mainWrapper {
  font-family: Lato, sans-serif;
  font-size: $medium;
  background-color: $light-gray;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
}

  .button {
    background: transparent;
    border: 0;

    cursor: pointer;
    color: $white;
    font-size: $medium;
    text-align: left;
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    background-color: $secondary;
    text-align: center;

    &:hover {
      transition: background-color 0.1s ease-in-out;
      background-color: darken($secondary, 5%);
    }
  }

#nav {
  background-color: $primary;
  color: $white;
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  position: sticky;
  top: 0;

  .logoWrapper {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .logoImage {
      height: 100%;
      width: auto;
    }

    .logoText {
      padding-left: 8px;
      font-size: $large;
    }
  }
}

#mainView {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;

  .itemCard {
    margin: 8px;
    width: 380px;
    height: 400px;
    background-color: $white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 $dark-gray;

    .itemImage {
      width: 100%;
      height: 50%;
      background-color: #737373;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .itemDetails {
      padding: 8px;
      display: flex;
      justify-content: space-between;
    }

    button {
      width: calc(100% - 16px);
      margin: 8px;
    }

    & > p {
      padding: 8px;
      height: 20%;
      color: $dark-gray;
    }
  }
}